{% extends "!layout.html" %}

{% block header %}
    <div style="background-color: white; text-align: center; padding: 10px 10px 15px 15px; font-size:120%">
        <div style="margin-top: 1em;
                border-top: 1px solid #AAA;
                border-bottom: 1px solid #AAA;
                border-radius: 5px;
                padding: 3px 1em;">
            {% include 'navbar.html' %}
        </div>
    </div>
{% endblock %}