<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<style type="text/css">
    a.navbar {
    color: {{ theme_linkcolor }};
    letter-spacing: .05em;
    font-weight: bold;
        }
</style>

<a class="navbar" href="https://research.cchmc.org/c-mind/manual-project-overview">CMIND Documentation</a> ·
<a class="navbar" href="{{pathto('index')}}">cmind-py Home</a> ·
<a class="navbar" href="{{pathto('manual')}}">User Manual</a> ·
<a class="navbar" href="{{pathto('api')}}">API Documentation</a>


